# Ignore engine SDL libraries from language stats
engine/SDL/* linguist-detectable=false
engine/SDL_image/* linguist-detectable=false
engine/SDL_mixer/* linguist-detectable=false

# Ignore release directories
release/* linguist-detectable=false
release-headers/* linguist-detectable=false
